<div class="detail-container">
    <div class="detail-container__card">
        <button class="detail-container__card__button" (click)="goBack()">Volver a la colección</button>
        <button class="detail-container__card__button" (click)="addToCart()">Añadir al carrito</button>
        <div class="detail-container__card__title">
            <h5>{{productDetails.name}}</h5>
        </div>
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of productDetails.image">
                <div class="detail-container__card__image">
                    <img src="{{image}}" />
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="detail-container__card__description">
            <p>{{productDetails.longDescription}}</p>
        </div>
    </div>
</div>