.footer-links-group {
    display: flex;
    flex-direction: column;

    &__title {
        color: #737373;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    &__link {
        color: #737373;
        text-decoration: none;

        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}