.footer-links {
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-between;

    h5 {
        color: #737373;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    a {
        color: #737373;
        text-decoration: none;

        &:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}